.wrapper{
    display: inline-block;
}
.button{
    background: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border: 1px solid #3992ff;
    color: #1a1a1a;
}

.button:hover{
    background: #3992ff;
    color: #fff;
    border-color: #1a1a1a;
}
.button:active{
    border-style: inset;
}

@media screen and (max-width: 759px){
    .button{
        padding: 5px;
    }
}

.button.lightTheme{
    background: white;
    border: 1px solid #3992ff;
    color: #1a1a1a;
}
.button.lightTheme:hover{
    background: #3992ff;
    color: #fff;
    border-color: #1a1a1a;
}