@import "@/shared/SCSSVariables";

.title{
  font-size: 20px;
  color: $colorWhite;
  padding-left: 20px;
  display: inline-block;
  transition: color 0.3s ease;
}

.button{
  margin: 0 10px;
  display: inline-block;
}
.wrapper.lightTheme{
  background: rgba(128,128,255,0.4);
}
.wrapper.lightTheme .title{
  color: $colorBlack;
}