@value colors: "../../colors.css";
@value colorBlack, colorWhite from colors;

.header{
    display: flex;
    justify-content: space-between;
}

.cards{
    width: calc(100% - 40px);
    padding: 20px;
    border: 1px solid colorBlack;
    border-radius: 20px;
    color: colorBlack;
    transition: background 0.3s ease, border 0.3s ease;
}
.h1{
    color: colorWhite;
    transition: color 0.3s ease;
}
.title{
    padding: 10px;
    display: inline-block;
}
.tools{
    border: 1px solid colorBlack;
    transition: border 0.3s ease;
}
.list{
    padding: 10px;
    border: 1px solid colorBlack;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: flex-start;
    border-radius: 5px;
    transition: border 0.3s ease;
}
.sort{
    display: inline-block;
    color: colorWhite;
    padding: 10px;
    /*width: 200px;*/
    transition: color 0.3s ease;
}

@media screen and (max-width: 759px){
    .cards{
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 10px;
    }
    .h1{
        font-size: 20px;
    }
}


/* theme */
.cards.lightTheme{
    border: 1px solid colorBlack;
    color: colorBlack;
}
.cards.lightTheme .h1{
    color: colorBlack;
}
.cards.lightTheme .sort{
    color: colorBlack;
}

