.cardWrapper{
    margin: 8px;
    list-style-type: none;
    transition: opacity 2s ease;
    opacity: 1;
    color: black;
}
.isShowBox{
    opacity: 0.5;
}
.card{
    text-align: center;
    width: 150px;
    height: 200px;
    display: inline-block;
    /*border: 1px solid black;*/
    border-radius: 5px;
    position: relative;
    font-size: 20px;
    transition: transform 0.3s linear;
}
.front,
.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front{
    z-index: 1;
    position: relative;
    background-color: #fff;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    transition: transform .3s linear;
    border-radius: 5px;
}
.islicable{
    cursor: pointer;
}

.card.isChosen .back {
    transform: rotateY(0deg);
    z-index: 2;
}
.card.isChosen .front {
    transform: rotateY(180deg);
    z-index: -1;
}

.back{
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,0,0,1) 100%);
    transform: rotateY(-180deg);
    transition: transform .3s linear;
    border-radius: 5px;
}

.card:hover{
    transform: scale3d(1.1,1.1,1);

}
.bg{

}

.isChosen{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover.isChosen{
   transform: perspective(600px) rotateY(-180deg) scale3d(1.2,1.2,1);
}

.lvl{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.title{
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.img{
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 10px auto;
}


@media screen and (max-width: 759px){
    .card{
        width: 80px;
        height: 100px;
        border-radius: 5px;
        font-size: 10px;
    }
    .img{
        width: 50px;
        height: 50px;
        background-size: cover;
        margin: 10px auto;
    }
    .lvl{
        position: absolute;
        bottom: 0px;
        right: 5px;
    }
}