$colorDarkBlue: #0562ad;
$colorBlue: #61dafb;
$colorBlueHover: #3992ff;
$colorRed: #ed1c24;
$colorWhite: #f7f7f7;
$colorBlack: #1a1a1a;
$colorSilver: #ddd;
$colorDarkSilver: #474e5a;
$cardGreen: #22b14c;
$cardRed: #ed1c24;
$cardBlue: #00a2e8;

$mobileWidth: '759px'
