.wrapper{
    background: rgba(0,0,128,0.2);
    border: 1px solid black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 10;
}
.title{
    font-size: 20px;
    color: white;
    padding-left: 20px;
    display: inline-block;
    transition: color 0.3s ease;
}
.list{
    padding: 0 10px;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.button{
    margin: 0 10px;
    display: inline-block;
}

.wrapper.lightTheme .title{
    color: #1a1a1a;
}