@import "@/shared/SCSSVariables";

.form{
    display: block;
    width: 300px;
}
.testUser{
    display: inline-block;
    vertical-align: top;
    border: 1px solid $colorBlack;
    padding: 15px;
    margin-right: 5px;
    border-radius: 5px;
}
.testUserField{
    margin: 5px 0;
}