@import "../../variables";

.wrapper{
    width: 120px;
    position: relative;
}
.row{
    line-height: 20px;
}
.loading{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 50px;
    svg{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 16px;
        height: 16px;
        animation: spinAnimation 1s infinite linear;
    }
}

@keyframes spinAnimation {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    color: $colorWhite;
    transition: color 0.3s ease;
}
.icon circle,
.icon path{
    fill: $colorWhite;
    transition: fill 0.3s ease;
}
.data{
    margin-bottom: 20px;
}

@media screen and (max-width: $mobileWidth){
    .data{
        margin-bottom: 10px;
    }
}

/*theme*/
.icon.lightTheme{
    color: $colorBlack;
}

.icon.lightTheme circle,
.icon.lightTheme path{

    fill: $colorBlack;
}